@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

html {
    box-sizing: border-box;

    /* Colors */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    font-family: 'Red Hat Display', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: repeat-x;
    background-color: var(--pale-blue);
    min-width: 375px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 710px;
}

.card {
    overflow-x: hidden;
    align-items: center;
    width: 450px;
    border-radius: 20px;
    background-color: #fff;
    font-size:16px;
    box-shadow: 0 25px 25px 0 hsl(245, 75%, 52%, 0.1);
}

.card-body {
    padding: 40px 48px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.order-summary {
    text-align:justify;
    text-align: center;
    padding: 0 30px;
}

.order-summary-title {
    font-size:28px;
    font-weight:900;
    color: var(--dark-blue);
    margin-bottom:16px;
}

.order-summary-body {
    color: var(--desaturated-blue);
    line-height: 28px;
}

.price-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--very-pale-blue);
    margin-top: 20px;
    padding: 24px 0;
    width: 100%;
    border-radius: 12px;
}

.music-icon {
    padding-right: 20px;
}

.plan-info {
    padding-right: 74px;
    text-align: left;
}

.plan-type {
    font-size:medium;
    font-weight:900;
    color: var(--dark-blue);
    margin-bottom: 4px;
}

.plan-price {
    color: var(--desaturated-blue);
}

.change-button {
    padding-left: 20px;
    text-decoration:underline;
    font-size: 14px;
    font-weight: 700;
    color: var(--bright-blue);
}

.change-button:hover {
    cursor:pointer;
    text-decoration:none;
    opacity: 0.7;
}

.payment-button {
    margin: 32px 0;
    width: 100%;
    padding: 16px 0;
    color:var(--pale-blue);
    font-weight: 700;
    text-align: center;
    background-color: var(--bright-blue);
    border-radius: 12px;
    box-shadow: 0 15px 10px 0 hsl(245, 75%, 52%, 0.15);
}

.payment-button:hover {
    cursor:pointer;
    opacity: 0.7;
}

.cancel-button {
    margin-bottom: 12px;
    text-align: center;
    color: var(--desaturated-blue);
    font-weight: 700;
}

.cancel-button:hover {
    cursor:pointer;
    color:var(--dark-blue);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 50px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 400px) {
    .card {
        width: 350px;
    }
    .card-body {
        padding: 40px 24px;
    }
    .order-summary {
        padding: 0 15px;
    }
    .price-card {
        padding: 24px 0;
        width: 100%;
    }
    .music-icon {
        padding-right: 20px;
    }
    .plan-info {
        padding-right: 46px;
    }
    .change-button {
        padding-left: 20px;
    }
}