@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

*{
  font-family: 'Red Hat Display', sans-serif;
}

body {
    max-width:100%;
    overflow-x:hidden;
    background-image:url("./images/pattern-background-desktop.svg");
    background-size:100vw;
    background-repeat:no-repeat;
    background-color:hsl(225, 100%, 95%);
    display:flex;
    align-items:center;
    justify-content:center;
}

.card {
    margin-top:100px;
    overflow-x:hidden;
    align-items:center;
    width:450px;
    height:650px;
    border-radius:20px;
    background-color:#fff;
    font-size:16px;
    box-shadow: 0 25px 25px 0 hsl(245, 75%, 52%, 0.1);
}

.card-head {
    background-image:url("./images/illustration-hero.svg");
    width: 100%;
    height: 220px;
}

.card-body {
    padding: 15px 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.order-summary {
    text-align:justify;
    text-align: center;
    padding: 30px 30px 20px 30px;
}

.order-summary-title {
    font-size:xx-large;
    font-weight:900;
    color: hsl(223, 47%, 23%);
    padding-bottom:12px;
}

.order-summary-body {
    color: hsl(224, 23%, 55%);
}

.price-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 80px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
}

.music-icon {
    padding: 0 25px;
}

.plan-info {
    padding-right: 55px;
}

.plan-type {
    font-size:medium;
    font-weight:900;
    color: hsl(223, 47%, 23%);
}

.plan-price {
    color: hsl(224, 23%, 55%);
}

.change-button {
    padding: 25px;
    text-decoration:underline;
    font-weight:700;
    color: hsl(245, 75%, 52%);
}

.payment-button {
    margin: 30px 0 20px 0;
    padding: 15px 0;
    width: 350px;
    color: hsl(225, 100%, 94%);
    font-weight: 700;
    text-align: center;
    background-color: hsl(245, 75%, 52%);
    border-radius: 12px;
    box-shadow: 0 15px 10px 0 hsl(245, 75%, 52%, 0.15);
}

.cancel-button {
    padding: 5px 0 5px 0;
    text-align: center;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 50px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 400px) {
    .card {
        width: 350px;
    }
    .order-summary {
        padding: 30px 25px 20px 25px;
    }
    .price-card {
        width: 300px;
    }
    .music-icon {
        padding: 0 20px;
    }
    .plan-info {
        padding-right: 35px;
    }
    .change-button {
        padding: 20px;
    }
    .payment-button {
        width: 300px;
    }
}